.GoodList {
    display : flex;
    justify-content: space-between;
}


.BasketList {
    position: absolute;
    top: 15%;
    left: calc(50% - 200px);
    width: 400px;
    background-color: grey;
}


.BasketList .Close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 2rem;
}